:root {
  --primary-color: #005f73;
  --accent1-color: #0a9396;
  --accent2-color: #94d2bd;
  --body-font: 'Roboto', sans-serif;
  --heading-font: 'Playfair Display', serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--body-font);
  color: var(--accent1-color);
}

header, main, footer {
  width: 840px;
  margin: 0 auto;
}

header {
  background-color: var(--primary-color);
  color: var(--accent2-color);
  display: flex;
  align-items: center;
  padding: 16px;
}

#logo {
  height: 60px;
  margin-right: 24px;
}

nav a {
  margin-right: 16px;
  color: var(--accent2-color);
  text-decoration: none;
  font-weight: 700;
}

h1, h2 {
  font-family: var(--heading-font);
  color: var(--primary-color);
}

nav, p, section, article {
  margin: 16px;
  padding: 8px;
}

.socialmedia a {
  text-decoration: none;
  margin-right: 12px;
}

.hero {
  position: relative;
}

.hero img {
  display: block;
  width: 100%;
  height: auto;
}

.hero h1 {
  position: absolute;
  top: 20px;
  width: 100%;
  padding: 16px;
  text-align: center;
  background-color: var(--accent1-color);
  color: #fff;
  opacity: 0.7;
}

.hero article {
  position: absolute;
  bottom: 20px;
  left: 20px;
  background: rgba(255,255,255,0.8);
  padding: 16px;
  max-width: 300px;
}

.hero article img {
  float: right;
  width: 125px;
  margin-left: 8px;
}

.gallery img {
  margin: 8px;
  width: calc(20% - 16px);
  height: auto;
  display: inline-block;
}